@model SlideDemo.Models.ContainerModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">

            @foreach (var breadCrumb in Model.BreadCrumb)
            {
                string activeClass = breadCrumb.IsActive ? "class=active" : string.Empty;
                <li @activeClass><a href="javascript:;" data-folder-id="@breadCrumb.FolderId">@breadCrumb.Title</a></li>
            }
        </ol>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">@Model.Title</h4>
                @if (!Model.IsRoot)
                {
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Rename</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                }
                <div class="input-group pull-right" style="margin-right:5px;">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>


            <div class="list-group">
                @foreach (var folder in Model.Folders)
                {
                    <a href="javascript:;" class="list-group-item">
                        <span class="badge">@folder.ChildCount</span>
                        @folder.Title
                    </a>
                }

                @foreach (var note in Model.Notes)
                {
                    <span class="list-group-item">
                        @*<span class="glyphicon glyphicon-file"></span>*@
                        @note.Text
                        <span class="pull-right">
                            <span class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                            </span>
                        </span>
                    </span>
                }

                @*<span id="aa" class="list-group-item clearfix">
                    <span class="glyphicon glyphicon-file"></span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <span class="pull-right">
                        <button id="bb" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </span>*@
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            $('#aa').on('click', function () {
                console.log('link');
            });

            $('#bb').on('click', function (e) {
                console.log('button');
            });
        });
    </script>
}
