@model SBIReportUtility.Web.Models.Project.ProjectDetailsViewModel

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Action("Dashboard","Project")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            @if (Model.IsProjectAdmin)
            {
                <li class="active">
                    <a href="@Url.Action("Details", "Project", new { projectId = Model.ProjectId })">
                        <i class="fa fa-folder fa-fw"></i> Project<span class="fa arrow"></span>
                    </a>
                </li>
                <li>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a href="@Url.Action("ProjectUsers", "Project", new { projectId = Model.ProjectId })"><i class="fa fa-user fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ProjectConnections", "Project", new { projectId = Model.ProjectId })"><i class="fa fa-database fa-fw"></i> Connections</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ProjectReports", "Project", new { projectId = Model.ProjectId })"><i class="fa fa-file fa-fw"></i> Reports</a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="active">
                    <a href="@Url.Action("Details","Project")?projectId=@Model.ProjectId">
                        <i class="fa fa-folder fa-fw"></i> Project
                    </a>
                </li>
            }
        </ul>
    </div>
</div>